

.enhancedCheck-inline {
    display: inline;
}

.enhancedCheck label {
    border-radius: 3px;
    border: 1px solid #DDD;
	color: #AAA;
}

.enhancedCheck input[type="radio"]:empty,
.enhancedCheck input[type="checkbox"]:empty {
    display: none;
}

.enhancedCheck input[type="radio"]:empty + label,
.enhancedCheck input[type="checkbox"]:empty + label {
    position: relative;
    line-height: 2em;
    text-indent: 2.5em;
    padding: 0 5px 0 0;
    cursor: pointer;

}


.enhancedCheck input[type="radio"]:empty + label:before,
.enhancedCheck input[type="checkbox"]:empty + label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2em;
    background: #DDD;
    border-radius: 3px 0 0 3px;
}

.enhancedCheck input[type="radio"]:not(:checked) + label:hover,
.enhancedCheck input[type="checkbox"]:not(:checked) + label:hover {
    color: #777;
}

.enhancedCheck input[type="radio"]:not(:checked) + label:hover:before,
.enhancedCheck input[type="checkbox"]:not(:checked) + label:hover:before {
    text-indent: 0.5em;
    color: #AAA;
}

.enhancedCheck input[type="radio"]:not(:checked) + label:hover:before {
    content: '\26AB';
}
.enhancedCheck input[type="checkbox"]:not(:checked) + label:hover:before {
    content: '\2714';
}
.enhancedCheck.enhancedCheck-combine input[type="checkbox"]:not(:checked) + label:hover:before {
    content: '\2795';
}

.enhancedCheck input[type="radio"]:checked + label,
.enhancedCheck input[type="checkbox"]:checked + label {
    color: inherit;
}

.enhancedCheck input[type="radio"]:checked + label:before,
.enhancedCheck input[type="checkbox"]:checked + label:before {
    text-indent: .5em;
    color: inherit;
}

.enhancedCheck input[type="radio"]:checked + label:before {
    content: '\26AB';
}
.enhancedCheck input[type="checkbox"]:checked + label:before {
    content: '\2714';
}
.enhancedCheck.enhancedCheck-combine input[type="checkbox"]:checked + label:before {
    content: '\2795';
}

.enhancedCheck-primary input[type="radio"]:checked + label:before,
.enhancedCheck-primary input[type="checkbox"]:checked + label:before {
    background: #337ab7;
    color:white;
}

.enhancedCheck-primary input[type="radio"]:not(:checked) + label:hover,
.enhancedCheck-primary input[type="checkbox"]:not(:checked) + label:hover {
    border: 1px solid #337ab7;
}

.enhancedCheck-success input[type="radio"]:checked + label:before,
.enhancedCheck-success input[type="checkbox"]:checked + label:before {
    background: #5cb85c;
    color:white;
}

.enhancedCheck-success input[type="radio"]:not(:checked) + label:hover,
.enhancedCheck-success input[type="checkbox"]:not(:checked) + label:hover {
    border: 1px solid #5cb85c;
}

.enhancedCheck-danger input[type="radio"]:checked + label:before,
.enhancedCheck-danger input[type="checkbox"]:checked + label:before {
    background: #d9534f;
    color:white;
}

.enhancedCheck-danger input[type="radio"]:not(:checked) + label:hover,
.enhancedCheck-danger input[type="checkbox"]:not(:checked) + label:hover {
    border: 1px solid #d9534f;
}

.enhancedCheck-warning input[type="radio"]:checked + label:before,
.enhancedCheck-warning input[type="checkbox"]:checked + label:before {
    background: #f0ad4e;
    color:white;
}

.enhancedCheck-warning input[type="radio"]:not(:checked) + label:hover,
.enhancedCheck-warning input[type="checkbox"]:not(:checked) + label:hover {
    border: 1px solid #f0ad4e;
}

.enhancedCheck.enhancedCheck-animate label:before {
    transition: background-color 1s ease;
}
.enhancedCheck.enhancedCheck-animate label {
    transition: color 1s ease;
}

/* TOGGLE */

.enhancedCheck-toggle-container {
    position: relative;
    overflow: hidden;
}
.enhancedCheck-toggle-container input[type="checkbox"] {
    display: none;
}
.enhancedCheck-toggle-group {
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    left: 0;
    transition: left 0.35s;
    -webkit-transition: left 0.35s;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.enhancedCheck-toggle-container.off .enhancedCheck-toggle-group {
    left: -100%;
}
.enhancedCheck-toggle-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.enhancedCheck-toggle-off {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.enhancedCheck-toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 0;
    border-width: 0 1px;
}

.enhancedCheck-toggle-container.btn { min-width: 59px; min-height: 34px; }
.enhancedCheck-toggle-on.btn { padding-right: 24px; }
.enhancedCheck-toggle-off.btn { padding-left: 24px; }

.enhancedCheck-toggle-container.btn-lg { min-width: 79px; min-height: 45px; }
.enhancedCheck-toggle-on.btn-lg { padding-right: 31px; }
.enhancedCheck-toggle-off.btn-lg { padding-left: 31px; }
.enhancedCheck-toggle-handle.btn-lg { width: 40px; }

.enhancedCheck-toggle-container.btn-sm { min-width: 50px; min-height: 30px;}
.enhancedCheck-toggle-on.btn-sm { padding-right: 20px; }
.enhancedCheck-toggle-off.btn-sm { padding-left: 20px; }

.enhancedCheck-toggle-container.btn-xs { min-width: 35px; min-height: 22px;}
.enhancedCheck-toggle-on.btn-xs { padding-right: 12px; }
.enhancedCheck-toggle-off.btn-xs { padding-left: 12px; }

.enhancedCheck-toggle-style-rounded.enhancedCheck-toggle-container { border-radius: 50px; }
.enhancedCheck-toggle-style-rounded .enhancedCheck-toggle-on { border-radius: 50px; }
.enhancedCheck-toggle-style-rounded .enhancedCheck-toggle-off { border-radius: 50px; }
.enhancedCheck-toggle-style-rounded .enhancedCheck-toggle-handle { border-radius: 50px; }

.enhancedCheck-toggle-style-squared.enhancedCheck-toggle-container { border-radius: 0; }
.enhancedCheck-toggle-style-squared .enhancedCheck-toggle-on { border-radius: 0; }
.enhancedCheck-toggle-style-squared .enhancedCheck-toggle-off { border-radius: 0; }
.enhancedCheck-toggle-style-squared .enhancedCheck-toggle-handle { border-radius: 0; }
